
.code {
  background-color: #23241f;    /*monokai background color*/
  color: #fff;

  .reveal {
    pre {
      border: none;
      border-radius: 0;
      box-shadow: none;

      .attribute,
      .symbol,
      .symbol .string,
      .tag .title,
      .value,
      .css .tag {
        color: color(#f92672 tint(15%));
      }

      code {
        background: transparent;
        color: var(--code-background);
      }
    }

    pre .tag .title, pre .value, pre .css .tag {

    }
  }
}
