.controls {
  div.navigate-down {
    border-top-color: var(--brand-primary);
  }
  div.navigate-up {
    border-bottom-color: var(--brand-primary);
  }
  div.navigate-right {
    border-left-color: var(--brand-primary);
  }
  div.navigate-left {
    border-right-color: var(--brand-primary);
  }
}

.progress span {
  background: color(var(--brand-primary) shade(30%));
}
