.contrasted,
.attention {
  body {
    background-color: var(--dark-accent);
    color: #fff;
  }

  strong {
    background: #fff;
    color: var(--dark-accent);
  }

  em, i, a {
    color: yellow;
  }
}

.attention {
  body {
    background-color: #000;
  }
}
