@import './_controls.css';
@import './_code.css';

.reveal {
  font-family: var(--type-headlines);
  font-size: 36px;
  font-weight: 300;
  line-height: 1.25;

  &, a {
    text-shadow: none;
  }

  sup {
    top: 0;
  }

  small {
    display: inline-block;
    font-size: .6em;
    line-height: 1.2em;
    vertical-align: top;

    * {
      vertical-align: top;
    }
  }

  h1, h2, h3, h4, h5 {
    font-family: var(--type-headlines);
    font-weight: 300;
    line-height: 1.25;

    small {
      color: var(--light-accent);
    }
  }

  blockquote {
    background: transparent;
    box-shadow: none;
    font-size: 1.55em;
    font-style: normal;
    margin-bottom: 1em;
    text-align: left;
    width: 80%;

    p {
      border-left: 7px solid var(--light-accent);
      padding-left: 1em;
    }
  }

  table {
    border-collapse: collapse;

    thead th {
      border-bottom: 1px double var(--dark-accent);
      font-weight: normal;
      padding: .7em .5em;
    }

    tbody td, tbody th {
      border-bottom: 1px solid var(--dark-accent);
      padding: .5em;
    }
  }

  ul, ol {
    display: inline-block;
    margin: .5em 0;
    text-align: left;
  }

  pre, code {
    font-family: var(--type-code);
  }

  code {
    background-color: var(--code-background);
    color: var(--code-foreground);
  }

  pre {
    font-size: .9em;
    text-align: left;
    width: auto;

    code[class] {
      background-color: transparent;
      max-height: 80vh;
    }
  }

  a {
    color: var(--link-foreground);
    text-decoration: underline;
  }

  em {
    color: var(--brand-color);
    font-style: normal;
  }

  strong {
    background: var(--dark-accent);
    border-radius: 3px;
    color: #fff;
    font-weight: inherit;
    padding-left: .3em;
    padding-right: .3em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  section h1:last-child,
  section h2:last-child,
  section h3:last-child,
  section h1.last-child,
  section h2.last-child,
  section h3.last-child {
    margin-bottom: 0;
  }
}

.background-light,
.background-dark,
.background-contrasted {
    .slide-background.present::before {
      content: "";
      background-color: transparent;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 10;
    }
}

.background-light {
  .reveal {
    .slide-background.present::before {
      background-color: rgba(0, 0, 0, 0.4);
    }

    .slides .present {
      color: #fff;
      text-shadow: 1px 1px rgba(0, 0, 0, .5);
    }
  }
}

.background-dark,
.background-contrasted {
    a:link, a:visited {
      --link-foreground: var(--light-shade);
    }

    strong {
      background: color(var(--brand-color) tint(80%));
      color: #fff;
      text-shadow: 1px 1px 1px color(black tint(50%));
    }
}

.background-dark {
  .slide-background.present::before {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .slides .present {
    color: #fff;
    text-shadow: 1px 1px rgba(255, 255, 255, .5);
  }
}

.reveal .slides .pdf-page {
  page-break-after: unset !important;

  &:not(:first-of-type) {
    page-break-before: always;
  }

  .speaker-notes {
    position: unset;
  }
}
