.contrasted,
.attention {
  background-color: var(--dark-accent);
  color: #fff;

  strong {
    background: #fff;
    color: var(--dark-accent);
  }

  em, i, a {
    color: yellow;
  }
}

.attention {
  background-color: #000;
}
