@font-face {
  font-family: 'Inconsolata';
  src: url('../../fonts/inconsolata/bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../../fonts/inconsolata/regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
