@font-face {
  font-family: 'Butler';
  src: url('../../fonts/butler/Butler-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../../fonts/butler/Butler.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
