:root {
  /* Use this color as the background for your dark-on-light designs, or the text color of an inverted design */
  --light-shade: #FFF9F4;
  /* Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette. */
  --light-accent: #B15A17;
  /* This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity. */
  --brand-color: #FE821F;
  /* Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best. */
  --dark-accent: #733D15;
  /* Use as the text color for dark-on-light designs, or as the background for inverted designs. */
  --dark-shade: #343C47;

  --commented: #3B3B3B;

  --code-background: #ECEEF1;
  --code-foreground: #424C5A;

  --link-foreground: #0000FC;

  --border-radius-base: 8px;

  --main-font: Inconsolata, sans-serif;
  /* derived from https://www.glyphrstudio.com/online/ */
  /* after nerding https://iamvdo.me/en/blog/css-font-metrics-line-height-and-vertical-align */
  --main-font-ascentHeight: 0.859;
  --main-font-descentHeight: 0.190;
  --main-font-capitalHeight: 0.675;
  --main-font-lineHeight: calc(16px * 1.5);
  --main-font-gap: var(--main-font-lineHeight);
  --main-font-xHeight: 400;

  --type-headlines: var(--main-font);
  --type-body: var(--main-font);
  /* --type-body: Georgia, "Times New Roman", Times, serif; */
  --type-code: Menlo, Monaco, Consolas, "Courier New", monospace;


}
