:root {
  /* Use this color as the background for your dark-on-light designs, or the text color of an inverted design */
  --light-shade: #F4F4F0;
  /* Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette. */
  --light-accent: #D4C492;
  /* This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity. */
  --brand-color: #FD7E14;
  /* Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best. */
  --dark-accent: #D23B62;
  /* Use as the text color for dark-on-light designs, or as the background for inverted designs. */
  --dark-shade: #1F1F43;

  --code-background: #dee2e6;
  --code-foreground: var(--dark-shade);

  --type-headlines: 'Butler', serif;
  --type-body: Butler, serif;
  /* --type-body: Georgia, "Times New Roman", Times, serif; */
  --type-code: Menlo, Monaco, Consolas, "Courier New", monospace;
}
