@import './code.css';

article.article {
  position: relative;
}

article section.highlight {
  border: 1px solid var(--light-accent);
  border-radius: 8px;
}

article .cover {
  background-color: var(--light-accent);
  border-top-left-radius: 7px;
  line-height: 0;
  min-height: 300px;
  overflow: hidden;
}

article.article .cover {
  border-bottom: 4px solid var(--light-accent);
  border-radius: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-height: 300px;
}

article.article .cover:empty {
  min-height: 300px;
}

article.article h1 {
  padding: 1rem 0;
}
  article.article h1 a {
    color: var(--dark-shade);
    text-decoration: none;
  }

  /* article.article h1 a[rel="permalink"]:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */


article.article .post__content h1:first-child,
article.article .post__content h2:first-child,
article.article .post__content h3:first-child {
  margin-top: 0;
  padding-top: 0;
}

article.article .post__content h1 {
  @extend h2;
}
article.article .post__content h2 {
  @extend h3;
}
article.article .post__content h3 {
  @extend h4;
}
article.article .post__content h4 {
  @extend h5;
}

article.article .post__content p > img {
  border: 2rem solid var(--light-accent);
}
