#search form {
  display: flex;
}
  #search form > input,
  #search form > button {
    padding: 8px;
    border: 2px solid var(--dark-shade);
    border-radius: 8px;
    line-height: 1;
  }

  #search form > input {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #search form > button {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: var(--dark-shade);
    color: var(--light-accent);
  }

#search + main {
  padding-top: 0;
}

#search [data-state="loading"] {
  cursor: progress;
  opacity: .6;
}

#search details summary {
  cursor: pointer;
}

#search .search-results:empty{
  display: none;
}
