@import (reference) '_variables.less';
@import (reference) 'grid.less';
@import (reference) 'mixins.less';
@import (reference) 'type.less';
@import (reference) '_card.less';

.series-header,
.series-footer,
.series-item {
  .make-row();
}

.series-header,
.series-item {
  max-width: 100%;
  min-height: 100vh;
  position: relative;
}

.series-header {
  .series__headline {
    .make-sm-column(8);
    .make-sm-column-offset(2);

    span {
      .highlight(@brand-primary, .28em);
    }
  }

  .series-header__metadata {
    .make-sm-column(8);
    .make-sm-column-offset(2);
    .card .card__metadata;
    padding-left: @grid-gutter-width / 2;
  }

  .series__summary {
    .make-sm-column(6);
    .make-sm-column-offset(2);

    a {
      .fancy-link(@gray, @brand-primary);
    }
  }
}

.series-item {
  .series-item__media {
    .make-sm-column(8);

    @media(min-width: @screen-sm-min) {
      text-align: center;
    }

    .series-item__picture {
      object-fit: contain;
      max-height: 85vh;
      max-width: 100%;
    }
  }

  .series-item__caption {
    .make-sm-column(3);
    vertical-align: bottom;
  }

  .series-item__date {
    color: @gray-light;
  }

  .series-item__comment + .series-item__date {
    &:before {
      content: "–";
    }
  }

  .series-item__address {
    color: @gray-light;
    .list-inline;

    > span {
      &:extend(.list-inline > li);
    }
  }
}

.series-footer {
  .clearfix();
  color: @gray-light;
  margin-bottom: unit(@line-height-base, em);

  &:before {
    background-color: @gray-light;
    content: '';
    display: block;
    margin: unit(@line-height-base, em) auto;
    height: 2px;
    width: 5em;
  }

  .series-footer__content {
    .make-sm-column(12);
    text-align: center;

    a:link,
    a:visited {
      .fancy-link(@gray-light, @gray);
    }
  }
}
