<footer class="footer">
  <section>
    <article>
      <p>
        <a href="/slash-me" rel="me" class="about">
          <img src="/assets/avatar.jpg" alt="" class="avatar img-thumbnail">
        </a>
      </p>

      <p>
        Hey, I'm <a href="/slash-me/" rel="me">Thomas</a>!
        A french <em>web engineer</em> living in <em>London</em>
        and working for <a href="http://bbc.co.uk/rd">BBC R&amp;D</a>.
      </p>

      <ul class="list-unstyled">
        <li class="menu-item">
          <a href="https://twitter.com/oncletom" rel="noopener" target="_blank" title="Twitter">twitter.com/oncletom</a>
        </li>
        <li class="menu-item">
          <a href="https://github.com/oncletom" rel="noopener" target="_blank" title="GitHub">github.com/oncletom</a>
        </li>
        <li class="menu-item">
          <a href="/feed/" rel="noopener text/atom+xml feed" target="_blank" title="Atom Feed">Publications feed</a>
        </li>
      </ul>
    </article>

    <aside>
      <section>
        <form action="https://google.com/search" method="get" class="form" role="search">
          <input type="hidden" name="q" value="site:oncletom.io" />
          <input type="search" name="q" value="" class="form-control" placeholder="What are you looking for?" required>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </section>

      <section>
        <div class="tag-column">
          <h3>/categories</h3>

          <ul class="tagged-links">
            <% Object.keys(config.category_map).forEach(function(key){ -%>
            <li><a href="<%= url_for(config.category_dir + '/' + config.category_map[key]) %>" rel="tag"><%= key %></a></li>
            <% }) -%>
          </ul>
        </div>

        <div class="tag-column">
          <h3>/years</h3>
          <%- list_archives({type: "yearly", order: "desc", format: "YYYY", show_count: false }) %>
        </div>
      </section>
    </aside>

  </section>
</footer>
