<header class="header container">

  <div class="profile-picture">
    <img src="/assets/avatar.jpg" alt="" class="is-avatar is-responsive">
  </div>

  <div class="presentation"><%- markdown(theme.description) %></div>

  <nav>
    <ul class="is-inline is-dotted">
      <% getNavLinks(theme.links).forEach(link => { %>
        <li class="<%= link.classNames %>"><a href="<%= link.href %>"><%= link.label %></a></li>
      <% }) %>
    </ul>
  </nav>
</header>
