<%- partial('header') %>
<%- partial('cover/post', { post: page }) %>

<main role="main">
  <section>
    <%- partial("blog/post-single", {
      post: page,
      features: ["content"]
    }) %>
  </section>
</main>

<%- partial("footer", {}, { cache: true }) %>
