<%- partial('header') %>

<main role="main">
  <section>
    <%- partial("blog/reading-note", { post: page }) %>
    <%- partial("blog/comments", { post: page }) %>
  </section>
</main>

<%- partial("footer", {}, { cache: true }) %>
