<%- partial('header') %>
<%- partial('cover/featured', {
  post: page.posts.first(),
  archiveType: page.year || page.category
}) %>

<main class="timeline" role="main">
  <section class="timeline-section" id="a-bit-older">
    <ol class="headline-list">
    <% page.posts.forEach(post => { %>
      <li class="headline-list__item">
        <%- partial("blog/post-single", {
          post,
          features: ['header', 'summary']
        }) %>
      </li>
    <% }) %>
    </ol>
  </section>
</main>

<%- partial("footer", {}, { cache: true }) %>
