<aside class="container next if-js-enabled" id="comments">
  <div id="disqus_thread"></div>

  <button class="action action__load-comments" type="button">
    <a href="#comments"><%= __('load.comments') %></a>
  </button>

  <p class="explainer"><mark><%= __('explain.disqus') %></mark></p>
</aside>
