<% if (config.disqus_shortname){ %>
<aside class="container next if-js-enabled" id="comments">
  <div id="disqus_thread"></div>

  <button class="action action__load-comments" type="button">
    <%= __('load.comments') %>
  </button>

  <p class="explainer"><%= __('explain.disqus') %></p>
</aside>
<% } %>
