<%- partial('header') %>

<main role="main">
  <%- partial('blog/hero', { post: page.posts.first(), aside: page.posts.slice(1, 6) }) %>

  <% /* partial('blog/work', {}) */ %>
</main>

<%- partial("footer", {}, { cache: true }) %>
