<%- partial('header') %>

<main role="main">
  <%- partial("blog/post-single", {
    post: page,
    features: ["header", "content", "signature"]
  }) %>

  <%- partial("blog/comments", { post: page }) %>
</main>

<%- partial("footer", {}, { cache: true }) %>
