<article class="container" id="work">
  <section class="highlight">
    <div class="cover">

    </div>

    <h1><%= _p('work') %></h1>

    <div class="summary"><%- markdown(theme.summary.work) %></div>

    <p class="read-more next">
      <a href="#"><%= _p('hire_me') %></a>
    </p>
  </section>

  <aside>
    <h2><%= _p('more.work') %></h2>

    <ul>
      <li>data.gouv.fr UX research</li>
      <li>bespoke text-based book toolchain</li>
      <li>BBC R&amp;D Editorial algorithms</li>
      <li>Mind the Gaps: an ethnographic approach of the smart city</li>
    </ul>
  </aside>
</article>
