<%- partial('header') %>
<%- partial('cover/hello', { post: page.posts.first() }) %>

<main class="timeline" role="main">
  <section class="timeline-section" id="a-bit-older">
    <ol class="card-list">
    <% page.posts.forEach(post => { %>
      <li class="card-list__item">
        <%- partial("photography/card", {
          post,
          features: ["date"]
        }) %>
      </li>
    <% }) %>
    </ol>
  </section>
</main>

<%- partial("footer", {}, { cache: true }) %>
