<%- partial('header') %>

<section class="photography-tiles needs-js">
  <ul class="tiles">
    <% page.posts.forEach(post => { %>
      <li class="card-list__item">
        <%- partial("photography/tile", { post }) %>
      </li>
    <% }) %>
  </ul>
</section>

<%- partial("footer", {}, { cache: true }) %>
