<article class="tile">
  <aside class="cover is-square is-empty">
    <img src="<%= post.image %>" alt="">
  </aside>
  <a href="<%= post.permalink %>" rel="permalink"><%= post.title %></a>
</article>
