<%- partial('header') %>
<% const posts = site.posts.find({ title: {$ne: ''} }).sort('date', -1) %>

<%- partial('cover/hello', { post: posts.first() }) %>

<main class="timeline" role="main">
  <section class="timeline-section">
    <ol class="headline-list">
    <% posts.forEach(post => { %>
      <li class="headline-list__item">
        <%- partial("blog/post-single", {
          post,
          features: ['header', 'content']
        }) %>
      </li>
    <% }) %>
    </ol>
  </section>
</main>

<%- partial("footer", {}, { cache: true }) %>
