<div class="reveal">
  <main class="slides" lang="<%= page.lang || site.config.language %>">
      <% (page.slides || []).forEach(slide => { %>
        <section
          data-separator-notes="^~~~~"
          data-separator-vertical="\n@@@\n"
          data-markdown>
          <textarea data-template><%- markdown_slide({ page, slide }) %></textarea>
        </section>
      <% }) %>
  </main>
</div>

<script src="<%= url_for('assets/js/slides.bundle.js') %>" type="module"></script>
<script src="<%= url_for('vendor/notes/notes.js') %>" defer></script>
