<div class="post-cover">
  <%- partial("_hero", { post: post }) %>

  <div class="post-cover__body">
    <div class="container">
      <section>
        <div class="post-cover__content">
          <%- markdown('# ' + config.subtitle) %>
        </div>
      </section>
    </div>
  </div>
</div>
