<div class="post-cover">
  <%- partial("_hero", { post: post }) %>

  <div class="post-cover__body">
    <div class="container">
      <section>
        <div class="post-cover__content">
          <h1><%= post.title %></h1>

          <p>
            <svg class="icon" aria-hidden="true"><use xlink:href="<%= url_for('/assets/icons.svg#clock') %>"></use></svg>
            <a href="#more"><%= readingTime(post.content).text %></a>
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
