ul.is-inline,
ol.is-inline {
  padding-left: 0;
}

ul.is-inline > li,
ol.is-inline > li {
  display: inline;
}

ul.is-dotted > li:not(:last-of-type):after,
ol.is-dotted > li:not(:last-of-type):after {
  content: "•";
  /* padding-left: .3em; */
}

ul.is-discrete {
  list-style: none;
  padding-left: 0;
}

ul.with-metadata > li {
  display: flex;
  margin-bottom: .3rem;
}
  ul.with-metadata > li .metadata {
    align-self: flex-start;
    font-size: 0.8em;
    line-height: 2;
    min-width: 120px;
  }

  ul.with-metadata > li div:first-child {
    margin-left: 120px;
  }
