<% if (config.disqus_shortname && page.comments){ %>
<section class="row" id="comments">

  <div class="col-md-8 col-md-push-2" id="disqus_thread"></div>

  <script src="//oncletom.disqus.com/embed.js" async></script>
</section>
<% } %>
